* {
    margin: 0;
    padding: 0;
}
html,body {
    height:100%;
}

/* body {
    background-image: url(full.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height:100vh;
    width:100vw;
} */

h1 {
    margin-top: 4px;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:azure;
    background-color:crimson;
    height: 80px;
    text-align: center;
    line-height: 80px;
    border-radius: 10px;
    border:5px solid black;
}

#main {
    display:flex;
    margin-top:100px;
    justify-content: center;
    gap:40px;
}

.imh {
    border-radius: 50%;
    object-fit: cover;
    height: 200px;
    width:200px;
    object-fit: cover;
}

img:hover {
    height:220px;
    width:220px;
    opacity: 0.7;
    cursor:pointer;
}

#score {
    display:flex;
    justify-content: center;
    gap:50px;
    margin-top: 40px;
}

.pl {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}
.po {
    font-size: 60px;
}

#disp {
    margin-top: 80px;
    margin-left: 720px;

}

h3 {
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display:inline;
    justify-content: center;
    align-items: center;
    background-color: blue;
    padding:30px;
    border-radius: 10px;
    font-size: 30px;
}
